<h1>New Game</h1>
<div class="container2">
<%@letters.each do |letter|%>
<h2 class="letters"> <%= letter %></h2>
<% end %>
</div>


<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" placeholder="Put your longest word here!">
  <input type="submit" value="Let's check!">
</form>

